---
layout: default
title: Online, Worldwide
permalink: /
description: linux.conf.au is an open source technologies conference running online, Jan 14-16 2022.
---

<div class="bg-banner container py-4">
  <div class="d-flex align-items-md-center justify-content-md-end align-items-end justify-content-center h-100">
    <div class="header-info text-center px-3 py-3">
      <h1>linux.conf.au 2022</h1>
      <p class="h2 text-muted">January 14-16 2022<br>
        Online, Worldwide
      </p>
    </div>
  </div>
</div>

<div class="bg-dawn-sea">
  <div class="container py-4 text-center">
    <div class="row">
      <div class="col">
        <h2>Tickets on Sale Now!</h2>
        <p>You can now purchase tickets to attend linux.conf.au 2022. Financial assistance applications are also open.</p>
        <a href="/dashboard/" class="btn btn-dark" role="button">Buy a ticket</a>
        <a href="/news/ticket-sales-open/" class="btn btn-secondary" role="button">Find out more</a>
      </div>
    </div>
  </div>
</div>

<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="lead">linux.conf.au 2022 will be held online, worldwide.</p>
        <p>We have a wide range of open technologies topics for you to enjoy, including talks on Linux kernel, open hardware and community.</p>
        <a href="/schedule/" class="btn btn-primary" role="button">View Schedule</a>
        <a href="https://lists.linux.org.au/mailman/listinfo/lca-announce" class="btn btn-secondary" role="button">Subscribe for updates</a>
      </div>
      <div class="col-md-4">
        <h2>Keynotes</h2>
        <ul>
          <li><a href="/news/keynote-liz-fong-jones/">Liz Fong-Jones</a></li>
          <li><a href="/news/keynote-jono-bacon/">Jono Bacon</a></li>
          <li><a href="/news/keynote-kathy-reid/">Kathy Reid</a></li>
          <li><a href="/news/keynote-brian-kernighan/">Brian Kernighan</a></li>
        </ul>
        <h2>PDNS Special Guest</h2>
        <ul>
          <li><a href="/news/pdns-guest-speaker-antony-green/">Antony Green</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Miniconfs</h2>
        <ul>
          <li><a href="/programme/miniconfs/glam-community/">GO GLAM meets Community</a></li>
          <li><a href="/programme/miniconfs/kernel/">Kernel</a></li>
          <li><a href="/programme/miniconfs/open-hardware/">Open Hardware</a></li>
          <li><a href="/programme/miniconfs/system-administration/">System Administration</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-dusk-sea banner-subscribe">
  <div class="container py-4 text-center">
    <div class="row">
      <div class="col">
        <h2>Sponsor linux.conf.au</h2>
        <p>Sponsorship packages are available to suit a range of budgets, from small startup to enterprise.</p>
        <a href="/sponsors/prospectus/" class="btn btn-outline-light" role="button">View sponsorship options</a>
      </div>
    </div>
  </div>
</div>

<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>About linux.conf.au</h2>
        <p>Running since 1999, linux.conf.au is the largest linux and open source conference in the Asia-Pacific region. The
        conference provides deeply technical presentations from industry leaders and experts on a wide array of subjects
        relating to open source projects, data and open government and community engagement.</p>
        <p>Still unsure what linux.conf.au is all about? Take a look through videos from past linux.conf.au
          conferences on <a href="https://youtube.com/c/linuxconfau">YouTube</a>.</p>
      </div>
    </div>
  </div>
</div>
