
<footer class="footer">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 pb-4">

        <strong>linux.conf.au 2022</strong> <br>
        Jan 14-16 2022 <br>
        Online, Worldwide <br>
        Timezone: AEDT - UTC+11 <br>
        <a href="mailto:contact@lca2022.linux.org.au" alt="Email"><i class="bi-envelope-fill"></i></a>&nbsp;&nbsp;<a
          href="https://twitter.com/linuxconfau" alt="Twitter"><i class="bi-twitter"></i></a>&nbsp;&nbsp;<a
          href="https://www.facebook.com/linuxconferenceaustralia/" alt="Facebook"><i class="bi-facebook"></i></a>&nbsp;&nbsp;<a
          href="https://www.linkedin.com/company/linuxconfau/" alt="LinkedIn"><i class="bi-linkedin"></i></a>&nbsp;&nbsp;<a
          href="https://www.youtube.com/c/linuxconfau" alt="YouTube"><i class="bi-youtube"></i></a>
      </div>
      <div class="col-md-4 pb-4 text-center">
        <img src="/media/img/logo/lca_horiz_colour.svg" alt="linux.conf.au logo" class="footer-logo">
        <a href="https://linux.org.au"><img src="/media/img/sponsors/la_logo.svg" alt="Linux Australia logo" class="footer-image"></a>
      </div>
      <div class="col-md-4 pb-4 text-right">
        <small>
          <a href="#">Back to top</a><br>
          &copy; 2021 linux.conf.au and <a href="https://linux.org.au/">Linux Australia</a><br>
          Linux is a registered trademark of Linus Torvalds <br>
          <a href="/colophon">Colophon</a>
        </small>
      </div>
    </div>
  </div>
</footer>

<script src="/media/js/jquery.slim.min.js"></script>
<script src="/media/js/bootstrap.bundle.min.js"></script>
