<div class="table-responsive">
  <table class="table table-hover" summary="This table provides a summary of the Miniconf days">
    <thead class="table-dark">
      <tr>
        <th>Time</th>
        <th class="text-center">Duration (min)</th>
        <th>Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>9:00 am</td>
        <td class="text-center">10</td>
        <td>LCA Start of day housekeeping</td>
      </tr>
      <tr>
        <td>9:10 am</td>
        <td class="text-center">60</td>
        <td>LCA Keynote</td>
      </tr>
      <tr class="table-success">
        <td>10:10 am</td>
        <td class="text-center">30</td>
        <td>Morning tea break</td>
      </tr>
      <tr>
        <td>10:40 am</td>
        <td class="text-center">10</td>
        <td>Miniconf opening</td>
      </tr>
      <tr>
        <td>10:50 am</td>
        <td class="text-center">30</td>
        <td>Miniconf Talk 1</td>
      </tr>
      <tr class="table-info">
        <td>11:20 am</td>
        <td class="text-center">10</td>
        <td><em>Break</em></td>
      </tr>
      <tr>
        <td>11:30 am</td>
        <td class="text-center">30</td>
        <td>Miniconf Talk 2</td>
      </tr>
      <tr class="table-success">
        <td>12:00 pm</td>
        <td class="text-center">80</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>1:20 pm</td>
        <td class="text-center">30</td>
        <td>Miniconf Talk 3</td>
      </tr>
      <tr class="table-info">
        <td>1:50 pm</td>
        <td class="text-center">10</td>
        <td><em>Break</em></td>
      </tr>
      <tr>
        <td>2:00 pm</td>
        <td class="text-center">30</td>
        <td>Miniconf Talk 4</td>
      </tr>
      <tr class="table-info">
        <td>2:30 pm</td>
        <td class="text-center">10</td>
        <td><em>Break</em></td>
      </tr>
      <tr>
        <td>2:40 pm</td>
        <td class="text-center">30</td>
        <td>Miniconf Talk 5</td>
      </tr>
      <tr class="table-success">
        <td>3:10 pm</td>
        <td class="text-center">30</td>
        <td>Afternoon tea break</td>
      </tr>
      <tr>
        <td>3:40 pm</td>
        <td class="text-center">30</td>
        <td>Miniconf Talk 6</td>
      </tr>
      <tr class="table-info">
        <td>4:10 pm</td>
        <td class="text-center">10</td>
        <td><em>Break</em></td>
      </tr>
      <tr>
        <td>4:20 pm</td>
        <td class="text-center">30</td>
        <td>Miniconf Talk 7</td>
      </tr>
      <tr class="table-info">
        <td>4:50 pm</td>
        <td class="text-center">10</td>
        <td><em>Break</em></td>
      </tr>
      <tr>
        <td>5:00 pm</td>
        <td class="text-center">30</td>
        <td>Miniconf Talk 8</td>
      </tr>
      <tr class="table-success">
        <td>5:30 pm</td>
        <td></td>
        <td>
          Sessions end<br>
          BoF sessions and evening events begin
        </td>
      </tr>
    </tbody>
  </table>
</div>
