<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  {% if page.background-img %}
  <body class="background-img" style="background-image: url({{page.background-img}}); ">
  {% else %}
  <body>
  {%endif%}
    {% include nav.html %}
    {{ content }}
    {% if page.sponsors %}
    {% include sponsor_footer.html %}
    {% endif %}
    {% include footer.html %}
  </body>
</html>
